$gray: #e6e6e6;
$dark-gray: #909090;
$darkest-gray: #626262;
$shadow: #c0bebe;
$dark-blue: #031125;
$slate: #fafafa;
$red: #f05454;

$fz-lg: 18px;
$fz-xl: 22px;
$fz-xxl: 32px;

$transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);