@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import "./_variable";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100%;
	background-color: $gray;
	color: $slate;
	font-family: "Source Sans Pro", "FontAwesome", sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	background: url(./assets/svg/cross.svg) no-repeat 50% 50%;
	background-size: contain;
	opacity: 0;
	pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
	opacity: 0.4;
	pointer-events: all;
	cursor: pointer;
}

@media only screen and (max-width: 480px) {
	body {
		font-size: $fz-lg;
	}
}
